.wrapper

  = render 'shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          グループ名
        %ul.left-header__members
          Member:
          %li.member
            メンバー１
          %li.member
            メンバー２
          %li.member
            メンバー３
      .right-header
        .right-header__button
          Edit 

    .messages
      .message
        .upper-message
          .upper-message__user-name
            メンバー1
          .upper-message__date
            2019/10/01
        .lower-message
          .lower-message__content
            こんにちは！

      .message
        .upper-message
          .upper-message__user-name
            メンバー2
          .upper-message__date
            2019/10/02
        .lower-message
          .lower-message__content
            今日は魚を食べました。

      .message
        .upper-message
          .upper-message__user-name
            メンバー3
          .upper-message__date
            2019/10/03
        .lower-message
          .lower-message__content
            雑炊大好き！     

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
          
          
